{% extends 'base.html' %}
{% block body %}
<div class="container my-3 " >
    <h1>Schedule Interview</h1>
    <form action="schedule" method="post" class="top">
    {% csrf_token %}
        <div class="row form-group">
            <label for="interviewerEmail">Interviewer Email address</label>
            <input type="email" class=" form-control" name="interviewerEmail" id="interviewerEmail" aria-describedby="emailHelp" placeholder="Enter interviewer email" required>
            
            <label for="candidateEmail">Candidate Email address</label>
            <input type="email" class=" form-control" name="candidateEmail" id="candidateEmail" aria-describedby="emailHelp" placeholder="Enter candidate email" required>
            
            <label for="Date">Date:&nbsp </label>
            <input type="date" class="form-control " name="date" id="date"  placeholder="Enter interview Date" required>
        </div>
    <div class="row form-group">
        
        <label for="startTime">Start Time:&nbsp </label>
        <input type="time" class="form-control col" name="startTime" id="startTime"  placeholder="Enter Start time" required>
        
        <label for="endTime"> &nbspEnd Time:&nbsp </label>
        <input type="time" class="form-control col" name="endTime" id="endTime"  placeholder="Enter end time" required>
    </div>

    
    <button type="submit" class="btn btn-primary">Schedule Interview</button>
</form>
</div>



{% endblock body %}